<section class="mission-block">
  <h1>Our Mission</h1>
  <p>
    To elevate the health of our children by honoring, empowering, and equipping
    mothers during pregnancy and throughout motherhood.
  </p>
  <p>
    We honor your body&rsquo;s innate capability to grow and bring life into the world.
  </p>
  <p>
    We empower you to trust your ability to bring forth life and to nurture and protect
    your children.
  </p>
  <p>
    We equip you with the knowledge needed to make healthy choices regarding the
    lifestyle of your family.
  </p>
</section>
